<a class="button back" href="#/apps">Back</a>

<div class="app-detail">
  <!-- TODO: Add the app's cover here -->
  <h3 class="trackId"> {{app.trackId}} </h3>
  <p class="artistId">{{app.artistId}}  </p>
  <p class="artistName">{{app.artistName}}  </p>
  <p class="description">{{app.description}}  </p>
  <p class="genreIds">{{app.genreIds}}</p>
  <p class="genres">{{app.genres}}</p>
  <p class="averageUserRating">{{app.averageUserRating}}</p>
  <p class="trackCensoredName">{{app.trackCensoredName}}</p>

  <a class="button" href="#/books/{{ currentBookIndex }}/chapters/0">Read</a>
</div>